 /* font-style */

 
 .azeret-mono-normal {
   font-family: "Azeret Mono", monospace;
   font-optical-sizing: auto;
   font-weight: <weight>;
   font-style: normal;
 }
 body{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
 }
 /* banner-styles */
.banner{
   background-image: url(../assets/Hero-bg.png);
   height: 652px;
}
.banner-image{
 margin-top: 24px;
margin-left: 540px;
margin-right: 539px;

}
.banner-tittle{
   margin-left: 250px;
   margin-right: 256px;
 
   color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 30px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
}
.banner-description{
   color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
margin-left: 280px;
margin-right: 282px;
}
.banner-btn{
   border-radius: 8px;
background: rgb(13, 19, 33);
margin: 35px 610px;
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 12px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
height: 50px;
width: 150px;
margin-left: 585px;
}
/* development-content-styles */
.development-content{
   border-radius: 16px;
background: rgba(13, 19, 33, 0.02);
height: 1395px;
margin: 80px 150px;
 
}